<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/resources :: headTags}"></div>
    <title>Pagina dettagli libro [[${book.title}]]</title>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar('book')}"></nav>

    <div class="container">
        
        <section class="row">
            <div class="col-12">
                <h1 class="fw-bold mb-3">Libro: [[${book.title}]]</h1>
                <h2 class="mb-3">Scritto da [[${book.author}]]</h2>
                <hr />
                <h3 class="mb-3">Anno di pubblicazione: [[${book.yearOfPublication}]]</h3>
                <h4 class="mb-3">Numero di pagine: [[${book.pages}]]</h4>
                <h5 class="mb-3">Genere: [[${book.genre}]]</h5>
                <h5 class="mb-3">Disponibilità: [[${book.available}]]</h5>
                <hr />
                <p th:text="${book.description}"></p>
                
                <!-- Oppure soltanto così:
                <p>[[${book}]]</p>
                <p th:text="${book}"></p> -->
            </div>
        </section>

    </div>

    <div th:replace="~{fragments/resources :: scripts}"></div>
</body>

</html>