<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/resources :: headTags}"></div>
    <title>Pagina dettagli libro [[${book.title}]]</title>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar('book')}"></nav>

    <div class="container">
        
        <section class="row">
            <div class="col-12">
                <h1 class="fw-bold mb-3">Libro: [[${book.title}]]</h1>
                <h2 class="mb-3">Scritto da [[${book.author}]]</h2>
                <hr />
                <h3 class="mb-3">Anno di pubblicazione: [[${book.yearOfPublication}]]</h3>
                <h4 class="mb-3">Numero di pagine: [[${book.pages}]]</h4>
                <h5 class="mb-3">Genere: [[${book.genre}]]</h5>
                <h5 class="mb-3">Disponibilità: [[${book.available}]]</h5>
                <h5 class="mb-3">Numero di copie: [[${book.numberOfCopies}]]</h5>
                <hr />
                <p th:text="${book.description}"></p>
                
                <!-- Oppure soltanto così:
                <p>[[${book}]]</p>
                <p th:text="${book}"></p> -->
            </div>
        </section>

        <section class="row mb-3 borrowings">
            <div class="col-12" th:unless="${book.getBorrowings().size() > 0}">
                <div class="alert alert-warning">
                    <h4>Non ci sono prestiti per questo libro</h4>
                </div>
            </div>
            <div class="col-12" th:if="${book.getBorrowings().size() > 0}">
                <h2 class="fw-bold">
                    Prestiti
                </h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Data del prestito</th>
                            <th>Data di ritorno dal prestito</th>
                            <th>Note</th>
                            <th>Azioni</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="borrowing : ${book.getBorrowings()}" th:object="${borrowing}">
                            <td>[[*{id}]]</td>
                            <td>[[*{borrowingDate}]]</td>
                            <td th:if="${borrowing.returnDate} != null">[[${borrowing.returnDate}]]</td>
                            <td th:unless="${borrowing.returnDate} != null">Libro <strong>[[${borrowing.book.title}]]</strong> non ancora restituito</td>
                            <!-- Oppure anche [[${borrowing.getBook().getTitle()}]] o ancora: [[${borrowing.getBook.getTitle}]]-->
                            <td>[[${borrowing.notes}]]</td>

                            <!-- Edit del prestito: -->
                             <td>
                                <!-- Oppure anche th:href="@{/borrowings/edit/{id}(id=${borrowing.book.id})} o anche "@{/borrowings/edit/{id}(id=${borrowing.getBook.getId})}" -->
                                <a th:href="@{/borrowings/edit/{id}(id=${borrowing.getBook().getId()})}" class="btn btn-success btn-sm">Modifica</a>
                             </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

    </div>

    <div th:replace="~{fragments/resources :: scripts}"></div>
</body>

</html>