<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/resources :: headTags}"></div>
    <title>Categories</title>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar('categories')}"></nav>

    <main class="container" th:object="${category}">
        <h1>Categoria "[[*{name}]]"</h1>
        <hr />

        <section class="row">
            <div class="col-12">
                <h3 class="fw-bold mb-3">[[*{name}]]</h3>
                <p class="mb-3">Libri con questa categoria: [[*{books.size()}]]</p>
                <!-- Se category.description ha un qualche valore, allora th:if viene mostrato, mentre th:unless non viene mostrato: -->
                <p class="mb-3" th:if="${category.description} != ''">[[*{description}]]</p>
                <!-- Se category.description è uguale a "" allora th:if è falso e non viene mostrato, mentre invece viene mostrato th:unless -->
                <p class="mb-3" th:unless="${category.description} != '' ">Descrizione non presente</p>
                <hr />

                <!-- Oppure soltanto così:
                        <p>[[${book}]]</p>
                        <p th:text="${book}"></p> -->
            </div>
        </section>
    </main>

    <div th:replace="~{fragments/resources :: scripts}"></div>
</body>

</html>