<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/resources :: headTags}"></div>
    <title>Home</title>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar('books')}"></nav>

    <div class="container">
        <h1>Home</h1>

        <hr />

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit amet veritatis provident id nam quos minus
            ex ratione omnis fugit, exercitationem fugiat, aliquid earum facere magnam quam perspiciatis illo mollitia
            repudiandae debitis? Illum incidunt provident cumque similique nisi consequuntur cum excepturi distinctio ut
            voluptas at hic asperiores quam accusantium voluptates quos, natus dolorum ab. Aut, ullam iusto commodi
            facilis officia cupiditate. Alias excepturi praesentium deserunt at eum quaerat reprehenderit, ullam
            deleniti iure, laudantium sequi iusto delectus unde temporibus sunt dolorum quam optio enim! Esse, ea. Quas
            similique autem tempore enim commodi, non assumenda repellendus esse voluptate fuga in natus. Maxime quasi
            est voluptatem, repellat repudiandae quaerat dolorem debitis, in itaque ullam vel temporibus ducimus.
            Quaerat nemo beatae ut, voluptates esse, at omnis repellendus, incidunt in voluptatem quisquam ab hic animi
            qui dicta. Distinctio delectus deleniti earum? Officiis incidunt est nobis nostrum similique assumenda ea
            vitae quaerat vero perferendis. Soluta, iure!</p>
    </div>

    <div th:replace="~{fragments/resources :: scripts}"></div>
</body>

</html>