<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/resources :: headTags}"></div>
    <title>Pagina inserimento prenotazione libro</title>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar('borrowings')}"></nav>

    <div class="container">

        <section class="row">
            <div class="col-12">
                <th:block>
                    <h1 class="py-4 mb-2 text-center">
                        Chiedi in prestito il libro "[[${borrowing.getBook().getTitle()}]]"
                        <br> di [[${borrowing.book.author}]]
                        <!-- Oppure grazie alle funzionalità di thymeleaf potevo scrivere anche: [[${borrowing.book.title}]] -->
                    </h1>
                    <div class="row justify-content-center">
                        <div class="col-8">
                            <form id="book-form" th:action="@{/borrowings/create}" method="post"
                                th:object="${borrowing}">

                                <!-- Le informazioni sul libro che abbiamo selezionato saranno presenti qui su un input di tipo hidden (nascosto) -->
                                <input type="hidden" name="book.id" th:value="${borrowing.book.id}">

                                <!-- Soluzione che mostra gli errori (dove presenti) nelle singole "input" -->
                                <div class="mb-3">
                                    <label class="form-label" for="borrowingDate">Inserisci la data del
                                        prestito</label>
                                    <input type="date" class="form-control" name="borrowingDate" id="borrowingDate"
                                        th:field="*{borrowingDate}" th:errorClass="is-invalid">
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('borrowingDate')}">
                                        <ul>
                                            <li th:each="error : ${#fields.errors('borrowingDate')}"
                                                th:text="${error}" />
                                        </ul>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label" for="returnDate">Inserisci la data di restituzione del
                                    libro</label>
                                    <input type="date" class="form-control" name="returnDate" id="returnDate"
                                        th:field="*{returnDate}" th:errorClass="is-invalid">
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('returnDate')}">
                                        <ul>
                                            <li th:each="error : ${#fields.errors('returnDate')}"
                                                th:text="${error}" />
                                        </ul>
                                    </div>
                                </div>
                                
                                <div class="mb-3">
                                    <label class="form-label" for="notes">Note</label>
                                    <textarea name="notes" class="form-control" id="notes" th:field="*{notes}"
                                        th:errorClass="is-invalid"></textarea>
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('notes')}">
                                        <ul>
                                            <li th:each="error : ${#fields.errors('notes')}" th:text="${error}">
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="mb-3 d-flex justify-content-between">
                                    <input type="submit" class="btn btn-primary" value="Crea un nuovo prestito libro">
                                    <!-- Sostituisco il pulsante type="reset" con un tag <a> che linka al metodo create() in modalità GET nel controller BookController.java: @GetMapping("/create") -->
                                    <!-- <input type="reset" class="btn btn-warning" value="Azzera i campi"> -->
                                    <a th:href="@{/books/{id}(id=${borrowing.book.id})/borrow}" class="btn btn-warning">Azzera i campi</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </th:block>
            </div>
        </section>

    </div>

    <div th:replace="~{fragments/resources :: scripts}"></div>
</body>

</html>